.main-container{
  border: solid 1px red;
  background-color: var(--colorPrimario);
  h2{
    text-align: center;
  }
  .historial{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    border: solid 1px green;
    .historial__elemento{
      box-shadow: 0 0 4px 1px;
      padding: 1rem;
      width: 9rem;
    }
  }
}